# DVD rent store using a database file and SAKILA db.

### Import numpy, pandas, matplotlib, and sqlite3

#### Note: "%matplotlib inline" is used for plotting inline in Jupiter notebook

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

%matplotlib inline

In [3]:
conn = sqlite3.connect('data/sakila.db')

df = pd.read_sql('''
    SELECT
        rental.rental_id, rental.rental_date, rental.return_date,
        customer.last_name AS customer_lastname,
        store.store_id,
        city.city AS rental_store_city,
        film.title AS film_title, film.rental_duration AS film_rental_duration,
        film.rental_rate AS film_rental_rate, film.replacement_cost AS film_replacement_cost,
        film.rating AS film_rating
    FROM rental
    INNER JOIN customer ON rental.customer_id == customer.customer_id
    INNER JOIN inventory ON rental.inventory_id == inventory.inventory_id
    INNER JOIN store ON inventory.store_id == store.store_id
    INNER JOIN address ON store.address_id == address.address_id
    INNER JOIN city ON address.city_id == city.city_id
    INNER JOIN film ON inventory.film_id == film.film_id
    ;
''', conn, index_col='rental_id', parse_dates=['rental_date', 'return_date'])

In [4]:
df.head()

                  rental_date  ... film_rating
rental_id                      ...
1         2005-05-24 22:53:30  ...           G
2         2005-05-24 22:54:33  ...           R
3         2005-05-24 23:03:39  ...           G
4         2005-05-24 23:04:41  ...           R
5         2005-05-24 23:05:21  ...       NC-17

[5 rows x 10 columns]

### What's the mean of `film_rental_duration`?

In [ ]:
# your code goes here

In [ ]:
df['film_rental_duration'].mean()

### What's the most common rental duration?

Show a <b>bar plot</b> with all the durations.

In [ ]:
# your code goes here

In [ ]:
df['film_rental_duration'].value_counts().plot(kind='bar', figsize=(14,6))

### What is the most common rental rate?

- Show a <b>pie plot</b> with all possible rental rates.
- Show a <b>bar plot</b> with all possible rental rates.
- Which plot you think fits the best in this case? Why?

In [ ]:
# your code goes here

In [ ]:
df['film_rental_rate'].value_counts().plot(kind='pie', figsize=(6,6))

In [ ]:
# your code goes here

In [ ]:
df['film_rental_rate'].value_counts().plot(kind='bar', figsize=(14,6))

### How is the replacement cost distributed?

- Show a <b>box plot</b> of the replacement costs.
- Show a <b>density plot</b> of the replacement costs.
- Add a red line on the <b>mean</b>.
- Add a green line on the median <b>median</b>.

In [ ]:
# your code goes here

In [ ]:
df['film_replacement_cost'].plot(kind='box', vert=False, figsize=(14,6))

In [ ]:
# your code goes here

In [ ]:
ax = df['film_replacement_cost'].plot(kind='density', figsize=(14,6))
ax.axvline(df['film_replacement_cost'].mean(), color='red')
ax.axvline(df['film_replacement_cost'].median(), color='green')

### How many films of each rating do we have?

- Show the raw count of each film rating.
- Show a <b>bar plot</b> with all possible film ratings.

In [ ]:
# your code goes here

In [ ]:
df['film_rating'].value_counts()

In [ ]:
# your code goes here

In [ ]:
df['film_rating'].value_counts().plot(kind='bar', figsize=(14,6))

### Does the film replacement cost vary depending on film rating?

In the United States, film classification is a voluntary process with the ratings issued by the Motion Picture Association of America (MPAA) via the Classification and Rating Administration (CARA).

- G (General Audiences): All Ages are Admitted.
- PG (Parental Guidance Suggested): Some Material May Not Be Suitable for Children.
- PG-13 (Parents Strongly Cautioned): Some Material May Be Inappropriate for Children Under 13.
- R (Restricted): Under 17 Requires Accompanying Parent or Adult Guardian.
- NC-17 (Adults Only): No One 17 and Under Admitted.

Show a <b>grouped box plot</b> per film rating with the film replacement costs.

In [ ]:
# your code goes here

In [ ]:
df[['film_replacement_cost', 'film_rating']].boxplot(by='film_rating', figsize=(14,6))

### Add and calculate a new `rental_days` column

This numeric column should have the count of days between `rental_date` and `return_date`.

In [ ]:
# your code goes here

In [ ]:
df['rental_days'] = df[['rental_date', 'return_date']].apply(lambda x: (x[1] - x[0]).days, axis=1)

df['rental_days'].head()

### Analyze the distribution of `rental_days`

- Calculate the mean of `rental_days`.
- Show a <b>density (KDE)</b> of `rental_days`.

In [ ]:
# your code goes here

In [ ]:
df['rental_days'].mean()

In [ ]:
# your code goes here

In [ ]:
ax = df['rental_days'].plot(kind='density', figsize=(14,6))
ax.axvline(df['rental_days'].mean(), color='red')

### Add and calculate a new `film_daily_rental_rate` column

This value should be the division of `film_rental_rate` by `film_rental_duration`.

In [ ]:
# your code goes here

In [ ]:
df['film_daily_rental_rate'] = df['film_rental_rate'] / df['film_rental_duration']

df['film_daily_rental_rate'].head()

### Analyze the distribution of `film_daily_rental_rate`

- Calculate the mean of `film_daily_rental_rate`.
- Show a <b>density (KDE)</b> of `film_daily_rental_rate`.

In [ ]:
# your code goes here

In [ ]:
df['film_daily_rental_rate'].mean()

In [ ]:
# your code goes here

In [ ]:
ax = df['film_daily_rental_rate'].plot(kind='density', figsize=(14,6))
ax.axvline(df['film_daily_rental_rate'].mean(), color='red')

### List 10 films with the lowest daily rental rate

In [ ]:
# your code goes here

In [ ]:
df.loc[df['film_daily_rental_rate'] == df['film_daily_rental_rate'].min()].head(10)

### List 10 films with the highest daily rental rate

In [ ]:
# your code goes here

In [ ]:
df.loc[df['film_daily_rental_rate'] == df['film_daily_rental_rate'].max()].head(10)

### How many rentals were made in Lethbridge city?

In [ ]:
# your code goes here

In [ ]:
df.loc[df['rental_store_city'] == 'Lethbridge'].shape[0]

### How many rentals of each film rating were made in Lethbridge city?

Show a <b>bar plot</b> with each film rating count.

In [ ]:
# your code goes here

In [ ]:
df.loc[df['rental_store_city'] == 'Lethbridge', 'film_rating'].value_counts()

In [ ]:
df.loc[df['rental_store_city'] == 'Lethbridge', 'film_rating'].value_counts().plot(kind='bar', figsize=(14,6))

### How many rentals were made in Woodridge city with rental duration higher than 5 days?

In [ ]:
# your code goes here

In [ ]:
df.loc[(df['rental_store_city'] == 'Woodridge') & (df['film_rental_duration'] > 5)].shape[0]

### How many rentals were made at the store with id 2 or with replacement cost lower than 10.99 USD?

In [ ]:
# your code goes here

In [ ]:
df.loc[(df['store_id'] == 2) | (df['film_replacement_cost'] < 10.99)].shape[0]